body {
  padding-bottom: 30px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 22px;
}

.disabled {
  color: gray;
  cursor: not-allowed;
}

.enabled {
  cursor: pointer;
}

#chatroom {
  height: 400px;
  overflow-y: scroll;
}

.separator {
  padding-left: 20px;
}

.robertsRulesOfOrderTools {
  padding: 10px;
}